data/output_me.Rda filter=lfs diff=lfs merge=lfs -text
data/trans-output_me.txt filter=lfs diff=lfs merge=lfs -text
results/output_me.Rda filter=lfs diff=lfs merge=lfs -text
results/trans-output_me.txt filter=lfs diff=lfs merge=lfs -text
results/output_me.Rda filter=lfs diff=lfs merge=lfs -text
results/output_me.txt filter=lfs diff=lfs merge=lfs -text
